.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: var(--footer-height);
    z-index: 30;

    background: var(--background-black);
}

.footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContent {
    color: var(--text-white);
}