.container {
    align-items: center;
    background: var(--background-black);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    z-index: 30;
    
    height: var(--footer-height);
    width: 100%;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    color: var(--text-white);
}