.container {
  position: sticky;
  z-index: 30;
  top: 0;
}

.wrapper {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border: solid black;

}

.center {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.item:hover {
  color: gray;
}