.container {
  align-items: center;
  background: var(--background-black);
  border-bottom: 1px solid var(--background-white);
  color: var(--text-white);
  display: flex;
  gap: 8px;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 30;

  height: var(--navbar-height);
  width: 100%;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
  padding: 0 3.5rem 0.5rem;

  width: 100%;
  height: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LOGO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.logoLink {
  padding-top: 0.5px;
}

/* .logoWrapper {} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CENTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.center {
  align-items: center;
  display: none;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;

  height: 100%;
  width: 100%;
}

/* .item {} */

.item:hover {
  color: var(--text-white-hover);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.contactContainer {
  align-items: center;
  display: flex;
  gap: 1rem;

  height: 100%;
}

.contactWrapper {
  align-self: flex-end;
}

.verticalLine {
  border-left: 1px solid var(--text-white);
  display: none;

  height: 50%;
}

.item {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.menuWrapper {
  display: flex;
  /* Filter is the same color as --text-white*/
  filter: invert(100%) sepia(44%) saturate(827%) hue-rotate(177deg) brightness(100%) contrast(105%);
}

@media (min-width: 1024px) {
  .center {
    display: flex;
  }

  .verticalLine {
    display: flex;
  }

  .item {
    display: flex;
  }

  .menuWrapper {
    display: none;
  }
}
