.sectionWrapper {
    margin-top: 1.5rem;
}

.main {
    padding-bottom: 4rem;
    display: flex;
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: row;
    height: 650px;
    align-items: stretch;
    background: #141414;
    width: 100%;
}

.heroImage {
    flex-shrink: 1;
}

.introContainer {
    display: flex;
    flex-direction: column;
    padding: 156px 59px 64px;
    flex-shrink: 3;
    color: #FFFFFF;
    gap: 48px;
}


.introHeader {
    display: flex;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 61px;
}

.introWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 56px;
    max-width: 681px;
}

.introDescription {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}