.wrapper {
    display: flex;
    flex-direction: column;
}

/* .main {

} */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SIDEBAR SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.sidebar {
  background-color: var(--background-bleuish);
  position: fixed;

  height: 100%;
  width: var(--sidebar-length);
}

/* .title{} */

/* .subtitle {} */

.body {
    margin-left: var(--sidebar-length);
    padding: 2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* .body {} */