.wrapper {
    display: flex;
    flex-direction: column;
}

.body {
    margin-left: var(--sidebar-length);
    padding: 1px 16px;
}

.sidebar {
  width: var(--sidebar-length);
  background-color: var(--background-bleuish);
  position: fixed;
  height: 100%;
}